:root {
    --color-de-fondo: #F5F5F5;
    --color-de-fondo-menu: #ffffff;
    --color-de-link: #000000;
}

body {
    background-color: var(--color-de-fondo);
    font-family: 'Raleway', sans-serif;
    margin: 0;
    box-sizing: border-box;
    padding: 0 50px;
    line-height: 1.6;
}

ol,
ul,
li {
    list-style: none;
}

a {
    text-decoration: none;
    color: var(--color-de-link);
}

/* ------------------------------ Sección Menú -------------------------------*/
.cabecera {
    margin: 0 -50px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    background-color: var(--color-de-fondo-menu);
}

.cabecera__logo {
    max-width: 80px;
}

.cabecera__titulo {
    font-size: 1.2rem;
    text-align: center;
}

.navegacion__lista {
    padding: 0;
    display: none;
}

.navegacion__elemento a {
    font-size: 0.9rem;
}

/* ------------------------------ Sección Presentación ------------------------------*/

.presentacion {
    padding: 10px 0;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    height: auto;
}

.presentacion__foto {
    width: 20vw;
    height: 20vw;
    object-fit: cover;
    object-position: top;
    border-radius: 50%;
}

.presentacion__subtitulo{
    text-align: justify;
}

.redes {
    padding: 0;
    display: flex;
    gap: 32px;
}

/* ------------------------------ Sección sobre mí ----------------------------------*/

.sobre-mi__texto {
    text-align: justify;
}

/*------------------------------ Sección de Habilidades ------------------------------*/

.habilidades {
    display: flex;
    flex-direction: column;
}

.habilidades__titulo {
    text-align: center;
}

.habilidades__lista {
    padding: 0;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 10px;
}

.habilidades__elemento {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.habilidades__elemento i {
    font-size: 50px;
}

/*------------------------------ Sección de Aficiones --------------------------------*/

.aficiones {
    display: flex;
    flex-direction: column;
}

.aficiones__titulo {
    text-align: center;
}

.aficiones__lista {
    padding: 0;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 10px;
}

.aficiones__elemento {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.aficiones__elemento i {
    font-size: 50px;
}

/*------------------------------ Sección de Formación --------------------------------*/

.formacion {
    display: flex;
    flex-direction: column;
}

.formacion__titulo {
    text-align: center;
}

.formacion__lista {
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.formacion__elemento {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.formacion__icono {
    width: 50vw;
}

.formacion__instituto {
    text-align: center;
}

/*------------------------------ Sección de Proyectos --------------------------------*/

.proyectos {
    display: flex;
    flex-direction: column;
}

.proyectos__titulo {
    text-align: center;
}

.proyectos__elemento {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.proyectos__lista {
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.proyectos__link {
    display: flex;
    justify-content: space-evenly;
}

.proyectos__repo {
    padding: 5px;
    color: #2A7AE4;
    border: 2px #2A7AE4 solid;
}

.proyectos__repo:hover {
    color: #ffffff;
    background-color: #2A7AE4;
    border: 2px #2A7AE4 solid;
}

.proyectos__demo {
    padding: 5px;
    color: #ffffff;
    background-color: #2A7AE4;
    border: 2px #2A7AE4 solid;
}

.proyectos__demo:hover {
    color: #2A7AE4;
    background-color: #ffffff;
    border: 2px #2A7AE4 solid;
}

/*-------------------------------------- footer --------------------------------------*/
footer {
    margin: 0 -50px;
    background-color: #333333;
    color: #ffffff;
    padding: 20px;
    text-align: center;
}

.creador {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.creador__nombre {
    margin: 0;
    font-size: 16px;
}

.creador__cuentas {
    margin-top: 10px;
    display: flex;
    gap: 20px;
}

.creador__cuentas a {
    color: #ffffff;
    text-decoration: none;
    font-size: 16px;
    transition: color 0.3s;
}

.creador__cuentas a:hover {
    color: #1da1f2;
}

.creador__cuentas i {
    margin-right: 8px;
}


/* ------------------------------ Responsividad ---------------------------------------*/

/* Tablets y pantallas más grandes */
@media (min-width: 768px) {
    .cabecera {
        justify-content: center; 
        flex-direction: row;
    }
    
    .cabecera__titulo {
        font-size: 1.5rem;
    }

    .presentacion {
        flex-direction: row-reverse;
        justify-content: space-between;
    }
    
    .presentacion__contenedor{
        width: 75%;
    }
    
    .presentacion__foto {
        align-self: center;
        width: 20vw;
        height: 20vw;
    }

}

/* Pantallas grandes */
@media (min-width: 1024px) {

    /* Aquí puedes ajustar aún más el diseño para pantallas grandes */

    .cabecera{
        justify-content: space-between;
    }

    .cabecera__titulo {
        font-size: 1.8rem;
    }

    .navegacion__elemento a {
        font-size: 1.1rem;
    }

    .navegacion__lista {
        display: flex;
        flex-direction: row;
        gap: 1rem;
        margin-top: 0;
    }

    .presentacion__titulo{
        font-size: 36px;
    }

    .presentacion__foto{
        width: 30vw;
        height: 30vw;
    }
    
    .presentacion__contenedor{
        width: 65%;
    }

    .formacion__lista{
        flex-direction: row;
    }

    .formacion__icono{
        width: 40vw;
    }

    .proyectos__lista{
        flex-direction: row;
    }
}